.html, body {
    font-family: $font;
    font-weight: $font-weight-regular;
    font-size: 1rem;
    color: black;
}

.wrapper{
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 35px;

    @include md {
        max-width: $breakpoint-md-max-width;
    }
    @include lg {
        max-width: $breakpoint-lg-max-width;
    }
    @include xl {
        max-width: $breakpoint-xl-max-width;
    }
    @include xxl {
        max-width: $breakpoint-xxl-max-width;
    }
}

a {
    text-decoration: none;
    transition: all 300ms;
    color:$color-grey;

    &:hover{
        text-decoration:underline;
        color: $color-dark;
    }
}

.link {
    text-decoration: none;
    transition: all 300ms;
    color:$color-grey;

    &:hover{
        text-decoration:underline;
        color: $color-dark;
    }
}

ul {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.product-card-name {
    font-family: $font;
    font-size: 14px;
    margin: 0.5px;
}

.product-card-price-container {
    display: flex;

    .product-card-price {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
    }
    
    .product-card-salesprice {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
        color: $color-red;
        margin-left: 15px;
    }

    .product-card-price-strikethrough {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
        text-decoration: line-through;
    }
}

.product-card-rating {
    font-family: $font;
    font-size: 12px;
    margin: 1px;
    color: $color-orange;
}

