@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
.html, body {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1rem;
  color: black;
}

.wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 35px;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a {
  text-decoration: none;
  transition: all 300ms;
  color: #626262;
}
a:hover {
  text-decoration: underline;
  color: #111111;
}

.link {
  text-decoration: none;
  transition: all 300ms;
  color: #626262;
}
.link:hover {
  text-decoration: underline;
  color: #111111;
}

.product-card-name {
  font-family: "Mulish";
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  border-radius: 50px;
  color: #111111;
  font-size: 1rem;
  white-space: nowrap;
  max-height: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .btn {
    z-index: 2;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: 1rem;
    max-height: initial;
  }
}

.round-btn {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #626262;
  background-color: white;
  transition: background-color 300ms;
  margin: 10px;
}
.round-btn:hover {
  background-color: #DBE3F5;
}

.dark-btn {
  background-color: #111111;
  color: white;
  transition: all 300ms;
}
.dark-btn:hover {
  background-color: #DBE3F5;
  color: black;
}

.blue-btn {
  background-color: #DBE3F5;
  color: black;
  transition: all 300ms;
}
.blue-btn:hover {
  background-color: #111111;
  color: black;
}

.invisible-btn {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
.invisible-btn:focus-visible {
  outline: none;
}

.breadcrumb .container {
  margin-top: 30px;
}
.breadcrumb .container .breadcrumb-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.breadcrumb .container .breadcrumb-list .backButton {
  margin-right: auto;
}
.breadcrumb .container .breadcrumb-list .backButton button {
  border: none;
  background-color: white;
}
.breadcrumb .container .breadcrumb-list .currentPage {
  flex: 1;
  text-align: center;
}
.breadcrumb .container .breadcrumb-list li {
  list-style: none;
  font-size: 18px;
}

.reset-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.app-name {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 20px 0;
}

.key-icon {
  width: 150px;
  height: 150px;
}

.reset-message {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.description {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.done-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 30px;
  width: 150px;
  text-align: center;
}

.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.instruction-message {
  text-align: center;
  margin: 20px 0;
}

.input-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 50px;
  color: #626262;
  border: 1px solid #626262;
}
.input-container .input-label {
  background-color: white;
  position: absolute;
  margin: 0;
  padding: 0 10px;
  top: -25%;
  left: 20px;
  font-size: 0.8rem;
}
.input-container .input {
  border: none;
}
.input-container .input:focus-visible {
  outline: none;
}

.input-error {
  text-align: center;
  font-size: 0.8rem;
  color: #F4303C;
  margin: 0;
  padding: 0;
}

.input-error + .form-btn {
  margin-top: 40px;
}

.payoneerSection .container .drop-down-list {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}
.payoneerSection .container .drop-down-list .selected-item {
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payoneerSection .container .drop-down-list .selected-item .fa-check {
  color: green;
  margin-left: 10px;
}
.payoneerSection .container .drop-down-list .selected-item .editBtn {
  border: none;
  background-color: white;
}
.payoneerSection .container .dropdown .btn {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payoneerSection .container .dropdown .btn.dropdown-toggle::after {
  content: none;
}

.paymentMethod {
  margin-top: 60px;
}
.paymentMethod .container .cards .titles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.paymentMethod .container .cards .titles h1 {
  font-size: 16px;
  font-weight: 400;
}
.paymentMethod .container .cards .titles .newCard {
  display: flex;
  text-align: center;
  align-items: center;
}
.paymentMethod .container .cards .titles .newCard h2 {
  font-size: 14px;
  margin: 0 15px 0 0;
  font-weight: 300;
}
.paymentMethod .container .cards .titles .newCard a {
  color: black;
}
.paymentMethod .container .cards .cards-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 279px;
}
.paymentMethod .container .cards .cards-slider .card {
  width: 100%;
  display: none;
  padding: 20px;
  margin-right: 10px;
  border-radius: 15px;
  width: 279px;
  height: 170px;
  background-color: rgb(155, 76, 155);
}
.paymentMethod .container .cards .cards-slider .card.active {
  display: block;
}
.paymentMethod .container .cards .cards-slider .card .bank {
  font-weight: 500;
  font-size: 25px;
  color: white;
  margin-bottom: 25px;
}
.paymentMethod .container .cards .cards-slider .card .card-number {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.paymentMethod .container .cards .cards-slider .card .card-owner, .paymentMethod .container .cards .cards-slider .card .card-date {
  color: white;
  font-size: 10px;
  display: inline-block;
}
.paymentMethod .container .cards .cards-slider .card .card-date {
  margin-left: 80px;
}
.paymentMethod .container .buttons {
  text-align: center;
}
.paymentMethod .container .buttons .card-button {
  border: none;
  text-decoration: none;
  background-color: white;
}

.change-password-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.change-password-section .instruction-message {
  justify-content: center;
  margin-bottom: 20px;
}
.change-password-section .password-label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.change-password-section .input-wrapper {
  position: relative;
  width: 100%;
}
.change-password-section .btn.change-password-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.AddCard {
  display: flex;
}
.AddCard .container {
  display: flex;
  flex-direction: column;
}
.AddCard .container .cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddCard .container .cardbox .card {
  width: 100%;
  display: flex;
  padding: 20px;
  border-radius: 15px;
  width: 279px;
  height: 170px;
  background-color: rgb(155, 76, 155);
  margin-top: 50px;
  margin-bottom: 40px;
}
.AddCard .container .cardbox .card .bank {
  font-weight: 500;
  font-size: 25px;
  color: white;
  margin-bottom: 25px;
}
.AddCard .container .cardbox .card .card-number {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.AddCard .container .cardbox .card .cardinfo {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 10px;
}
.AddCard .cardform {
  font-family: "Mulish";
  display: flex;
  flex-direction: column;
}
.AddCard .cardform .error-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
}
.AddCard .cardform input {
  border: none;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #c4c0c0;
  font-weight: 400;
  font-size: 16px;
  margin-left: 45px;
  margin-right: 45px;
}
.AddCard .cardform .infoField {
  margin: 10px 45px;
  color: #626262;
  font-weight: 600;
  font-size: 12px;
}
.AddCard .cardform .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.AddCard .cardform .card-btn .dark-btn {
  border-radius: 25px;
  width: 350px;
  margin: 10px;
  border: none;
  font-size: 14px;
  padding: 10px;
}
.AddCard .cardform .cvvrow {
  display: flex;
  align-items: center;
  padding: 10px;
}
.AddCard .cardform .cvvrow label {
  display: inline-block;
  margin: 0;
  margin-left: 35px;
}
.AddCard .cardform .cvvrow input {
  max-width: 15%;
  border: 1px solid #c4c0c0;
  margin: 15px;
}
.AddCard .cardform .cvvrow a {
  margin-left: 20px;
  font-size: 1rem;
}

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-sub-titel {
  text-align: center;
}

.sign-in-form-section {
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sign-in-form-section form {
  display: flex;
  flex-direction: column;
}
.sign-in-form-section form .input-container {
  margin-bottom: 15px;
}
.sign-in-form-section form .input-container label {
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}
.sign-in-form-section form .input-container input[type=email],
.sign-in-form-section form .input-container input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.sign-in-form-section form .actions-container {
  width: 100%;
  justify-content: space-between;
}
.sign-in-form-section form .actions-container td {
  width: 50%;
  padding: 0 10px;
}
.sign-in-form-section form .actions-container td:first-child {
  text-align: left;
}
.sign-in-form-section form .actions-container td:last-child {
  text-align: right;
}
.sign-in-form-section form .actions-container .remember-me {
  display: flex;
  align-items: center;
}
.sign-in-form-section form .actions-container .remember-me label {
  margin-left: 5px;
  font-size: 0.8em;
}
.sign-in-form-section form .actions-container a {
  font-size: 0.2em;
  text-decoration: none;
}
.sign-in-form-section form .actions-container a:hover {
  text-decoration: underline;
}

.product-list .product-list-info-below .product-card-info-below img {
  width: 20%;
}
.welcome-transition {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DBE3F5;
  height: 100vh;
  width: 100vw;
  display: none;
}
.welcome-transition .welcome-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5rem;
  width: 7.5rem;
  background-color: #FFFFFF;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 20px #DBE3F5;
  border: 4px solid #FFFFFF;
}
.welcome-transition .welcome-logo .welcome-logo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome-transition .welcome-logo .welcome-logo-content .welcome-logo-rectangular {
  background-color: #111111;
  opacity: 100%;
  border: 1px solid #111111;
  width: 20px;
  height: 6px;
  border-radius: 50%;
  border-radius: 50px;
  background-color: #FFFFFF;
}
.welcome-transition .welcome-logo .welcome-logo-content .welcome-logotype {
  font-size: 32px;
  font-weight: 900;
}

.welcome-information {
  z-index: 0;
  position: relative;
  background-color: #DBE3F5;
  height: 100vh;
  overflow: hidden;
}
.welcome-information .welcome-iformation-circle {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -90%);
  position: relative;
  width: 130vw;
  height: 130vw;
  color: #111111;
  background-color: white;
  border-radius: 100%;
  box-shadow: inset 0px 0px 0px 20px #DBE3F5;
  border: 4px solid white;
}
.welcome-information .welcome-iformation-circle .carousel-indicators {
  bottom: 17%;
}
.welcome-information .welcome-iformation-circle .carousel-inner-container {
  display: flex;
  flex-direction: column;
  height: 85vw;
  width: 100vw;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 40px 0px 40px;
}
.welcome-information .welcome-iformation-circle .carousel-inner-container .welcome-carousel-slide {
  display: flex;
  flex: 0 0 100%;
  text-align: center;
  padding: 20px 20px 0px 20px;
}
.welcome-information .welcome-iformation-circle .carousel-inner-container .welcome-carousel-slide i {
  font-size: 48px;
}
.welcome-information .welcome-iformation-circle .carousel-inner-container .welcome-carousel-slide h1 {
  font-weight: 700;
  font-size: 2rem;
}
.welcome-information .welcome-iformation-circle .carousel-inner-container .welcome-carousel-slide p {
  font-weight: 400;
}

.dot {
  background-color: black !important;
  opacity: 100% !important;
  border: 1px solid black !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
  transition: all 300ms !important;
}
.dot.active {
  width: 30px !important;
  border-radius: 50px;
  background-color: #FFFFFF !important;
}

.Sign-up-title-container {
  text-align: center;
  margin: 40px auto;
}
.Sign-up-title-container .sign-up-title {
  font-weight: 700;
}/*# sourceMappingURL=Style.css.map */