.home-page-showcase {
    .featured-products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 20px 0px 20px;

        .homepage-section-header {
            font-size: 20px;
            font-weight: $font-weight-bold;
        }
        .homepage-section-viewall {
            font-size: 16px;
            font-weight: $font-weight-regular;
            background-color: transparent;
            border: none;
        }
    }
}