.add-address-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    .add-address-icon {
        margin-bottom: 10px;
    }
}