.add-address-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .custom-map-iframe{
        width: 100%;
        height: 330px;
    }

    .input-address-content {
        margin-top: 20px;
        width: 85%;

        .title-input {
            position: relative;
            border-radius: 20px;
            border: 0.5px solid $color-blue;
            padding-top: 15px;
            width: calc(100% - 5px);

            &:focus {
                border: 1px solid $color-blue;
            }
        }
        .title-input::placeholder {
            position: absolute;
            top: -4px;
            left: 20px;
            font-size: 12px;
            color: $color-dark;
        }
        .address-input {
            margin-top: 20px;
            position: relative;
            border-radius: 20px;
            border: 0.5px solid $color-blue;
            padding-top: 15px;
            width: 100%;
        }
        .address-input::placeholder {
            position: absolute;
            top: -4px;
            left: 20px;
            font-size: 12px;
            color: $color-dark;
        }
    }
    .current-location-checkbox {
        display: flex;
        margin-top: 10px;
        width: 85%;

        .current-location-check {
            color: $color-blue;
            background-color: $color-blue;
            margin-right: 5px;
        }
    }
    .save-address {
        width: 85%;
        margin-top: 10px;      
    }
}