.breadcrumb {
    .container {
      margin-top: 30px;
    
      .breadcrumb-list {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
  
        .backButton {
          margin-right: auto;

          button {
            border: none;
            background-color: white;
          }
        }
    
        .currentPage {
          flex: 1;
          text-align: center;
        }
    
        li {
          list-style: none;
          font-size: 18px;
        }
      }
    }
  }
  