.burger-menu-button {

    .burger-menu-btn{
        border: none;
        background-color: transparent;

        i {
            font-size: 25px;
        }
    } 
}

.burger-menu-screen{

    width: 350px !important;

    @media (min-width: 768px) {
        width: 400px !important;
    }

    .offcanvas-body{
        position: relative;

            h2{

            }

            .contact-info{

                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .contact-field{

                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    //border-bottom: 1px solid $color-blue;

                    hr{
                        width: 100%;
                    }

                    .icon{

                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        border: 1px solid $color-blue;
                        text-align: center;

                        i{
                            font-size: 18px;
                            background-color: transparent;
                            margin-top: 10px;
                        }
                    }

                    .info{
                        
                        #p2{
                            margin-top: -15px;
                        }
                    }
                }
            }

        .track-section{

            position: absolute;
            bottom: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            

            p{
                
            }

            .track-field{

                display: flex;
                flex-direction: row;
                border: 1px solid $color-blue;
                border-radius: 50px;
                position: relative;
                width: 277px;
                                
                label{
                                      
                    background-color: #222529;
                    position: absolute;
                    padding:0 10px;
                    top:-23%;
                    left: 20px;
                    font-size: 0.9rem;
                }

                input{
                    outline: none;
                    background-color: transparent;
                    border: none;
                    color: $color-white;
                    padding: 15px;
                }

                .arrow{

                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    background-color: #707070;
                    text-align: center;
                    margin-top: 3px;
                    position: relative;
                    

                     i{
                        font-size: 20px;
                        color: #222529;
                        position: absolute;
                        top: 30%;
                        right: 30%;

                    }

                    &:hover{
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}

