.change-password-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .instruction-message {
      justify-content: center;
      margin-bottom: 20px;
    }
  
    .password-label {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  
    .input-wrapper {
      position: relative;
      width: 100%;
     
    }
  
    .btn {
      &.change-password-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }
    }
  }
  