.editprofile{

    .heading{
        .vertical-line {
            width: 50%;
            border-right: 2px solid $color-dark;
            height: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
          }
    
          .profilePictureSection {

            position: relative;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 10px solid $color-blue;
                margin: 0 auto;
                
            img {
                width: 180px;
                height: 180px;
                border-radius: 50%;
            }

            .icon{

                background-color: $color-blue;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                padding-top: 8px;
                position: absolute;
                right: 0;
                bottom: 5px;
                cursor: pointer;

                .upload-area {
                    cursor: pointer;
                  
                    input {
                      display: none;
                    }
                  
                    .upload-button {
                      width: 60px;
                      height: 60px;
 
                      i {
                        font-size: 17px;
                      }
                    }
                }
            }
            
        }
    }
}






