.product-list {
    padding: 0;

    .product-list-info-below-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0px;

        @include md {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin: 0px;
        }
        
        .product-list-info-below {
            position: relative;

            .product-card-info-below {
                display: flex;
                flex-direction: column;

                .product-card-info-below:hover {
                    transition: all 0.25s ease-in-out;
                    transform: scale(1.05);
                }

                .product-sale-label {
                    position: absolute;
                    background-color: $color-green;
                    font-size: 8px;
                    padding: 3px 5px 3px 5px;
                    font-weight: $font-weight-bold;
                    color: $color-white;
                }

                .product-card-info-below-img {
                    width: 100%;
                }

                .product-card-info-below-buttons {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    right: 0px;
                    top: 0px;
                    display: flex;
                    flex-direction: column;

                    .product-card-info-below-button {
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
    }
}

.product-card-name {
    font-family: $font;
    font-size: 14px;
    margin: 0.5px;
}

.product-card-price-container {
    display: flex;

    .product-card-price {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
    }
    
    .product-card-salesprice {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
        color: $color-red;
        margin-left: 15px;
    }

    .product-card-price-strikethrough {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
        text-decoration: line-through;
    }
}

.product-card-rating {
    font-family: $font;
    font-size: 12px;
    margin: 1px;
    color: $color-orange;
}