.input-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 50px;
    color: $color-grey;
    border: 1px solid $color-grey;

    .input-label{
        background-color: white;
        position: absolute;
        margin:0;
        padding:0 10px;
        top:-25%;
        left: 20px;
        font-size: 0.8rem;
    }
    
    .input{
        border: none;

        &:focus-visible{
            outline: none;
        }
    }
}  

.input-error{
    text-align: center;
    font-size: 0.8rem;
    color: $color-red;
    margin: 0;
    padding: 0;
}

.input-error + .form-btn{
    margin-top: 40px;
}

.verification-error {
    text-align: center;
    font-size: 0.8rem;
    color: $color-red;
    margin: 1rem 0 1rem 0;
    padding: 0;
}
