.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  .instruction-message {
    text-align: center;
    margin: 20px 0;

  
  }

  