.iconsNav {
    
    margin-top: 20px;
        .container {
            padding-top: 15px;
            border-top: 1px solid $color-blue;

            .icons {
                display: flex;
                justify-content: space-around;
                text-align: center;
                align-items: center;
                
            .icon {         
                a {
                    font-size: 1.5rem;
                    padding: 8px;
                    border-radius: 50%;
                        
                    &:hover {
                    background-color: $color-blue;
                    }
                }
            }
        }
    }
}
    