.card {
    position: relative;

    .product-name,
    .product-price,
    .product-rating {
        font-family: $font;
        font-size: 14px;
        margin: 0.5px;
    }

    &-sale-label {
        position: absolute;
        background-color: $color-green;
        font-size: 8px;
        padding: 3px 5px 3px 5px;
        font-weight: $font-weight-bold;
        color: $color-white;
    }
}

.small-card {
    @extend .card;
    display: flex;
    align-items: center;

    &-img {
        width: 100px;
        height: 100px;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

    }
}

.normal-card {
    @extend .card;

    &-img {
        width: 160px;
        height: 170px;
    }

    .product-details {

        .product-name,
        .product-price,
        .product-rating {
            display: block;
        }
    }
}