.signin-sub-titel {
    text-align: center;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;

    .remember-me {
        display: flex;
        align-items: center;

        label {
            margin-left: 5px;
            font-size: 0.8em;
        }
    }

    .forgot-password {
        font-size: 0.8em;
    }

    a {
        font-size: 0.5em;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}